@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "variables";

////////////////////////////////////////////
////////////////////////////////////////////
// Body and General styles start
////////////////////////////////////////////
////////////////////////////////////////////

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

body {
  height: 100vh;
  background: black url("../assets/images/bg.png") center center / cover
    no-repeat fixed;
  text-align: center;
  color: $text-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

////////////////////////////////////////////
////////////////////////////////////////////
// Body styles end
////////////////////////////////////////////
////////////////////////////////////////////

////////////////////////////////////////////
////////////////////////////////////////////
// App styles start
////////////////////////////////////////////
////////////////////////////////////////////
.App {
  text-align: center;
  max-width: 600px;
  height: 100vmax;
  margin: 0 auto;
}

////////////////////////////////////////////
////////////////////////////////////////////
// App styles end
////////////////////////////////////////////
////////////////////////////////////////////

////////////////////////////////////////////
////////////////////////////////////////////
// Header styles start
////////////////////////////////////////////
////////////////////////////////////////////

.header {
  background-color: $secondary-color;
  padding: 0.5em;
  margin-bottom: 10%;
}

.header--logo {
  display: inline-block;
  text-align: left;
  width: 30%;
  color: $primary-color;
}

.nav {
  display: inline-block;
  width: 70%;
  text-align: right;
}

.nav--link {
  display: inline-block;
  margin: 0.5em;
  text-decoration: none;
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
  padding: 0.2em;
}

////////////////////////////////////////////
////////////////////////////////////////////
// Header styles end
////////////////////////////////////////////
////////////////////////////////////////////

////////////////////////////////////////////
////////////////////////////////////////////
// Login / signup form styles start
////////////////////////////////////////////
////////////////////////////////////////////

.login,
.signup {
  margin: 0 auto;
}

.form--login {
  margin: 0 auto;
  background-color: white;
  width: 90%;
  max-width: 500px;
  height: 30em;
  border-radius: 20px;
  padding: 5%;
  color: $primary-color;
}

// form validation error message
.error {
  color: $text-dark;
  font-size: 0.7rem;
  text-align: center;
}

.login--label {
  text-align: left;
  font-size: 1.3rem;
  margin-top: 2em;
}

.login--input,
.login--select {
  height: 3em;
  width: 90%;
  margin: 5% 0 10%;
  outline: none;
  border: 1px solid $primary-color;
  text-indent: 10%;
  font-size: 1rem;
}

.button {
  width: 5em;
  height: 3em;
  border: none;
  background-color: $primary-color;
  font-size: 1rem;
  color: $text-white;
  border-radius: 20px;
}

////////////////////////////////////////////
////////////////////////////////////////////
// Login / signup form styles end
////////////////////////////////////////////
////////////////////////////////////////////

////////////////////////////////////////////
////////////////////////////////////////////
// User Page styles start
////////////////////////////////////////////
////////////////////////////////////////////

.user {
  margin: 0 auto;
  padding: 5%;
  width: 75%;
  height: 60vh;
  border: 2px solid $text-white;
}
.user--avatar {
  border-radius: 50%;
}

.user-text {
  text-align: left;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.user--email {
  font-size: 1rem;
}

////////////////////////////////////////////
////////////////////////////////////////////
// User Page styles end
////////////////////////////////////////////
////////////////////////////////////////////

////////////////////////////////////////////
////////////////////////////////////////////
// List of Users Page styles end
////////////////////////////////////////////
////////////////////////////////////////////

.users-list {
  width: 100%;
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3em;
  letter-spacing: 0.1em;
}
.user--card {
  border: 1px solid $primary-color;
  padding: 5%;
  border-radius: 20px;
}

.button__page-number {
  margin: 3%;
  background-color: $text-white;
  color: $text-dark;
  border: 2px solid $primary-color;
}

////////////////////////////////////////////
////////////////////////////////////////////
// List of Users Page styles end
////////////////////////////////////////////
////////////////////////////////////////////

////////////////////////////////////////////
////////////////////////////////////////////
// Footer styles start
////////////////////////////////////////////
////////////////////////////////////////////

.footer {
  margin-top: 5em;
  width: 100%;
}

.footer--link {
  color: $primary-color;
  text-decoration: none;
}

////////////////////////////////////////////
////////////////////////////////////////////
// Footer styles end
////////////////////////////////////////////
////////////////////////////////////////////
